# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Builder Defender.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Unity\Projects\Code Monkey - Udemy\Builder Defender\.idea\.idea.Builder Defender\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
